node_modules
.env
.vercel
*.log
local-server.js
.next
.vercel
.output
.cache
.temp
.vscode
.idea
.DS_Store
.git
.gitignore
.gitmodules
.gitlab-ci.yml
.hg
.hgignore
.hgcheck
.svn
.lock-wscript
.wafpickle-*
*.sublime-project
*.sublime-workspace
*.tmp
*.bak
*.swp